server {
    # listen on 80 and 443, and set as default server
    listen                              80 default_server;
    listen                              [::]:80 default_server;
    listen                              443 ssl http2 default_server;
    listen                              [::]:443 ssl default_server;

    # use same info as base.conf
    root                                /var/www/localhost;
    add_header                          X-Clacks-Overhead "GNU Terry Pratchett";
    index                               index.html index.htm;
    include                             helpers/nginx-error-pages.conf;
    include                             helpers/ignore-favicon.conf;
}