server {
    server_name                         {{ getenv "DOMAIN_NAME" }};
    listen                              80;
    add_header                          X-Clacks-Overhead "GNU Terry Pratchett";

    include                             helpers/acme-challenge.conf;

    location / {
        proxy_pass                      {{ getenv "UPSTREAM" }};
        include                         helpers/proxy-params.conf;
        include                         helpers/secure-headers.conf;
    }
}
