server {
    server_name                         {{ getenv "DOMAIN_NAME" }}{{ getenv "DOMAIN_ALIASES_LIST" }};
    listen                              80;

    location ^~ /{{ getenv "ACME_CHALLENGE" }} {
        allow                           all;
        root                            {{ getenv "WWW" }};
    }

    {{ if eq (getenv "SSL_REDIRECT_INSECURE") "1" }}
    {{ range ( (getenv "DOMAIN_ALIASES_LIST") | strings.Split " " ) }}
    {{ if . }}
    if ($host = {{ . }}) {
        return 301 https://$host$request_uri;
    }
    {{ end }}
    {{ end }}
    {{ end }}

    return                              204;
}

server {
    server_name                         {{ getenv "DOMAIN_NAME" }}{{ getenv "DOMAIN_ALIASES_LIST" }};
    listen                              443 ssl;

    add_header                          X-Clacks-Overhead "GNU Terry Pratchett";

    {{ if eq (getenv "SSL_REDIRECT_TO_CANONICAL") "1" }}
    if ($host != {{ getenv "DOMAIN_NAME" }}) {
        return 301 https://{{ getenv "DOMAIN_NAME" }}$request_uri;
    }
    {{ end }}

    location / {
        proxy_pass                      {{ getenv "UPSTREAM" }};
        include                         helpers/proxy-params.conf;
        include                         helpers/secure-headers.conf;
    }

    ssl_certificate                     {{ getenv "SSL_CERTS" }}/{{ getenv "DOMAIN_NAME" }}.crt;
    ssl_certificate_key                 {{ getenv "SSL_CERTS" }}/{{ getenv "DOMAIN_NAME" }}.key;
    ssl_trusted_certificate             {{ getenv "SSL_CERTS" }}/{{ getenv "DOMAIN_NAME" }}/fullchain.crt;
    ssl_dhparam                         {{ getenv "SSL_DHPARAM" }};
}
